body > section > header h1{
    color: whitesmoke;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
body > section > nav{
    padding: 5px;
    background-color: #36454F;
    font-size: 1.2em;
    color: black;

}
body > section > nav > a{
    color: palegreen;
    text-decoration: none;
}
body  section > article{
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
}
body section > article  h1{
    text-decoration: underline;
    color: ;
    font-size: 1.5em;
    padding-top: auto;
    padding-bottom: auto;
}