body{
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b1c1c;
    color: rebeccapurple;
    font-family: "Copperplate-Bold", serif;
}

body > header > h1{
    background-image: url("../images/low_poly_abstract_banner_design_2708.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 75px;
    text-align: center;
    font-size: 5em;
    color: mediumpurple;
    width: auto;
}
header > h2{
    background-color: #140e17;
    display: inline-block;
    margin-top: auto;
    box-shadow: 5px 5px 3px rebeccapurple;
    position: relative;
    left: 15%;
    font-size: 1.8em;
}
section > ul{
    position: relative;
    left: 15%;
    font-size: 1.2em;
}
.picture{
    list-style: none;
}
section > ol{
    position: relative;
    left: 15%;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: rebeccapurple;
    display: inline-block;
    padding-left: 20px;
    background-image: url("../images/—Pngtree—purple round sci fi frame_60597481.png");
    background-repeat: no-repeat;
    background-position: left center;

}
a:hover{
    color: mediumpurple;
    background-color: blueviolet;
}
img{
    border-radius: 10px;
}
html{
    background-image: url("../images/modern-futuristic-neon-purple-background-free-vector.jpg");

}
article{
    text-align: center;
    width: 60%;
    margin: auto;
}
.datagrid table {
    border-collapse: collapse;
}

.datagrid {
    background: #1b1c1c;
    overflow: hidden;
    border: 0 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 0 0;
}

.datagrid table thead th {
    background: #6f07ed;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B9953', endColorstr='#1D7F1D');

    color: #1b1c1c;
    font-size: 1.5em;
    font-weight: bold;
    border-left: 0 solid;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: mediumpurple;
    border-left: 1px solid mediumpurple;
    font-size: 1.2em;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: mediumpurple;
    color: #1b1c1c;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tbody tr .onbekend {
    background-color:red;
}